.home-container {
    position: relative;
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-code-container {
    transform-style: preserve-3d;
    width: fit-content;
    position: relative;
}

.home-three-container {
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.test-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background-color: var(--accent-darkblue);
    color: var(--text);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}