.page {
    width: 80%;
    height: 100vh;
    margin: auto;
    scroll-snap-align: center;
    overflow: hidden;
    position: relative;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 91vh;
    padding: 2rem;
    position: relative;
}

@media (max-width: 768px) {
    .page-container {
        padding: 2rem 0;
    }
}
