.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden scroll;
    margin-top: 1rem;
}

.project-container::-webkit-scrollbar {
    display: none;
}

.project-item {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    color: var(--text);
    max-width: 1000px;
}

.project-header {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.project-header span {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.project-cover {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.project-details {
    position: relative;
}

.project-title {
    font-size: 1.5rem;
    margin: 0;
}

.project-tag {
    color: var(--secondary);
    font-size: 0.8rem;
    margin: 0;
}

.project-link {
    color: inherit;
    font-family: inherit;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color .3s ease;
}

.project-link:hover {
    color: var(--tertiary);
}

.project-description {
    font-size: 1rem;
}

.tech-stack {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.tech-item {
    color: var(--secondary);
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-title {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .project-cover {
        width: 7rem;
        height: 7rem;
    }

    .project-title {
        font-size: 1.15rem;
    }

    .project-tag {
        font-size: 0.7rem;
    }

    .project-link {
        font-size: 1rem;
    }

    .project-description {
        font-size: 0.8rem;
    }

    .tech-item {
        font-size: 0.7rem;
    }
}
