.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    width: 100%;
    max-width: 800px;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #323233;
    border-radius: 8px;
    backdrop-filter: blur(3px);
    z-index: 999;
    perspective: 500px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link span {
    opacity: 1;
    position: relative;
    transition: all 0.3s ease;
    font-size: 1.25rem;
}

.nav-link a::after {
    border-radius: 4px;
    content: '';
    transition: all 0.3s ease;
}

.nav-link:not(.active) a:hover::after {
    background-color: var(--accent-lightblue);
    color: var(--background);
}

.nav-link.active a {
    color: var(--accent-lightblue);
}

.nav-container:hover .nav-link span {
    opacity: 0;
}

.nav-container:hover .nav-link a::after {
    content: attr(data-section);
    margin-left: -10px;
    padding: 0.5rem;
    opacity: 1;
    transform: translateY(0);
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.cube {
    position: relative;
    width: 200px;
    height: 44px;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 0.3s;
}

.face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    backface-visibility: hidden;
    width: 100%;
    height: 44px;
    padding-left: 1rem;
}

.front  { transform: translateZ(22px); }
.bottom { transform: rotateX(-90deg) translateZ(22px); }
.back   { transform: rotateX(180deg) translateZ(22px); }
.top    { transform: rotateX(90deg) translateZ(22px); }