:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  color-scheme: dark;
  --text: #FDFEFB;
  --primary: #1c1c1c;
  --secondary: #B5B5B5;
  --tertiary: #3DA9FC;
  --quaternary: #2A65BD;
}

body {
  margin: 0;
  overflow: hidden;
}
