:root {
	font-family: 'Monsterrat', sans-serif;
	color-scheme: dark;
	--background: #141414;
	--text: #F5F5F5;
	--darker-text: #B5B5B5;
	--accent-lightblue: #3DA9FC;
	--accent-darkblue: #2A65BD;
	
	--translate: translate(-50%, -50%);
	--shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	background-color: var(--background);
	color: var(--text);
	overflow-x: hidden;
}

.show-cursor {
	cursor: auto !important;
}